{% extends 'tracker/base.html' %}

{% block content %}
{% load custom_filters %}

<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
            text-align: left;
        }
    </style>
</head>
<body>
    <h2>My Jobs</h2>

    <!-- Button to view the map -->
    <a href="{% url 'create_job' %}" class="btn btn-primary">New Posting</a>
    
    <!-- Job job list -->
    <hr>
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>JobID</th>
                <th>Job Title</th>
                <th>Company Name</th>
                <th>Location</th>
                <th>Remote</th>
                <th>Application</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td style="color:grey">{{ job.id }}</td>
                <td><a href="{% url 'view_job' job.id %}">{{ job.job_title }}</a></td>
                <td style="color:navy">{{ job.company_name }}</td>
                <td>{{ job.location }}</td>
                <td>{{ job.is_remote|yesno:"Y,N" }}</td>
                <td>
                    {% with job_application=job_application_dict|get_item:job.id %}
                    {% if job_application %}
                        {{ job_application.status }}
                    {% else %}
                        Not Applied
                    {% endif %}
                {% endwith %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

{% endblock %}