<h2>{% if is_editing %}Edit{% else %}Create{% endif %} Job Posting</h2>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">{% if is_editing %}Confirm Changes{% else %}Submit{% endif %}</button>
</form>
<!-- Upon clicking cancel, go back to view  -->
{% if is_editing %}
<a href="{% url 'view_posting' posting.pk %}" class="button">Cancel</a>  <!-- Go back to view posting -->
{% else %}
<a href="{% url 'dashboard' %}" class="button">Cancel</a>  <!-- Go back to dashboard if creating a new posting -->
{% endif %}
<a href="{% url 'dashboard' %}" class="button">Back to Dashboard</a>
