{% extends 'tracker/base.html' %}

{% block content %}
<h2>Edit Job</h2>

<form method="post" enctype="multipart/form-data" id="uploadForm">
    {% csrf_token %}
    <p>Job ID</p>
    <input type="text" name="job_id" value="{{ job.id }}" readonly="readOnly" class="form-control">
    <br>
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{% url 'view_job' job.id %}" class="btn btn-secondary">Cancel</a>
    <form action="{% url 'delete_job' job.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}