{% extends 'tracker/base.html' %}

{% block content %}
<h2>My Documents</h2>
<a href="{% url 'upload_files' %}" class="btn btn-primary">New Document</a>

<!-- Resumes Section -->
<div class="document-section">
    <h3>Resumes</h3>
    {% if resumes %}
    <table>
        <tr>
            <th>File Name</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        {% for document in resumes %}
        <tr>
            <td style="font-style: italic;">{{ document.document_name }}</td>
            <td>{{ document.date_uploaded }}</td>
            <td>
                <a href="{% url 'view_document' document.id %}">View</a> |
                <a href="{% url 'edit_document' document.id %}">Edit</a> |
                <a href="{% url 'delete_document' document.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No resumes available.</p>
    {% endif %}
</div>

<!-- Cover Letters Section -->
<div class="document-section">
    <h3>Cover Letters</h3>
    {% if cover_letters %}
    <table>
        <tr>
            <th>File Name</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        {% for document in cover_letters %}
        <tr>
            <td style="font-style: italic;">{{ document.document_name }}</td>
            <td>{{ document.date_uploaded }}</td>
            <td>
                <a href="{% url 'view_document' document.id %}">View</a> |
                <a href="{% url 'edit_document' document.id %}">Edit</a> |
                <a href="{% url 'delete_document' document.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% else %}
        <p>No cover letters available.</p>
    {% endif %}

</div>

<!-- Other Documents Section -->
<div class="document-section">
    <h3>Other Documents</h3>
    {% if others %}
    <table>
        <tr>
            <th>File Name</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
        {% for document in others %}
        <tr>
            <td style="font-style: italic;">{{ document.document_name }}</td>
            <td>{{ document.date_uploaded }}</td>
            <td>
                <a href="{% url 'view_document' document.id %}">View</a> |
                <a href="{% url 'edit_document' document.id %}">Edit</a> |
                <a href="{% url 'delete_document' document.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% else %}
        <p>No other documents available.</p>
    {% endif %}
</div>
{% endblock %}
