{% extends 'tracker/base.html' %}

{% block content %}
<h2>View Document</h2>
<p><strong>Document Name: </strong><span style="color:red">{{ document.document_name }}</span></p>
{% if document.file %}
    <p><strong>File Url:</strong> <a href="{{ document.file.url }}">{{ document.file.url }}</a></p>
{% else %}
    <p><strong>File Url: </strong><span style="color: grey;">No file available.</span> </p>
{% endif %}
<p><strong>Type:</strong> {{ document.document_type }}</p>
<p><strong>Created:</strong> {{ document.date_uploaded }}</p>

<!-- Display text content if available -->
<p><strong>Content:</strong></p>
{% if document.text_content %}
    <pre>{{ document.text_content }}</pre>
{% endif %}

<a href="{% url 'edit_document' document.id %}" class="btn btn-primary">Edit</a>
<form action="{% url 'delete_document' document.id %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
<a href="{% url 'view_all_documents' %}" class="btn btn-secondary">Back to All Documents</a>

<!-- Back button to go back to the document list -->
{% endblock %}
