{% extends 'tracker/base.html' %}

{% block content %}
{% load custom_filters %}
<h2>{{ document.document_name }}</h2>
<p><strong>Document Name:</strong> {{ document.document_name }}</p>
<p><strong>File Url:</strong> <a href="{{ document.file.url }}">{{ document.file.url }}</a></p>
<p><strong>Type:</strong> {{ document.document_type }}</p>
<p><strong>Created:</strong> {{ document.date_uploaded }}</p>

<!-- Display text content if available -->
<p><strong>Content:</strong></p>
{% if document.text_content %}
    <pre>{{ document.text_content }}</pre>
{% endif %}

<div>
    <a href="{% url 'view_all_documents' %}" class="btn btn-secondary mt-3">Back to All Documents</a>
</div>

<!-- Back button to go back to the document list -->
{% endblock %}
